.pokemon-detail {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 40px;
    color: white;
}

.pokemon-big {
    width: 260px;
    margin: 25px auto;
    display: block;
    filter: drop-shadow(0 0 15px #000);
}

.info-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
    margin: 25px 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.info-box h2 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.cp {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffd34d;
}